body {
  background-color: violet;
}

table {
  overflow-x: scroll;
  max-height: 100px;
  border: 1px solid black;
}

table tbody {
  overflow: auto;
  height: 100 px;
  background-color: pink;
}

.me-auto {
  background-color: aquamarine;
}

.editnav {
  /* background-color: blueviolet;; */
}

.navbaredit {
  color: brown;
}