body {
  background-color: green;
}

table {
  border: 1px solid black;
  border-radius: 10px;
  border-spacing: 0;
  border-collapse: separate;
}

table tbody {
  overflow: auto;
  height: 100 px;
  background-color: #deacde;
}

.header {
  height: 20px;
  background-color: #ae4dc4;
  font-size:x-large;
  padding: 5px;
}

th, td {
  padding: 10px
}

tr, td {
  padding: 10px;
  border: 1px solid black;
  font-size: medium;
  font-weight: 750;
  text-align: center;
}

.me-auto {
  font-weight: 1000;
  font-size:x-large;
}

tr {
  text-align: center;
}