/* body {
  
} */

table {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

table tbody {
  overflow: auto;
  height: 100 px;
  background-color: #deacde;
}

.header {
  height: 20px;
  background-color: #ae4dc4;
  font-size:xx-large;
  padding: 5px;
}

th, td {
  padding: 10px;
}

tr, td {
  padding: 10px;
  border: 1px solid black;
  font-size: large;
  font-weight: 750;
  text-align: center;
}

.me-auto {
  font-weight: 1000;
  font-size:x-large;
}

tr {
  text-align: center;
}

.scrolldown {
  height: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}